body {
    margin: 0;
    padding: 0;
    background-color: #888;
    position: relative;
}

.principal {
    width: 500px;
    height: 730px;
    border: 5px solid #ff6da3;
    border-radius: 40px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

div h2 {
    position: absolute;
    border: 2px solid #000;
    width: 130px;
    padding: 10px;
    margin: 0;
}

#puntajearriba {
    top: 5px;
    left: 174px;
}

#puntajeabajo {
    bottom: 5px;
    left: 174px;
}

canvas {
    border: 1px solid #000;
}

.principal div {
    position: absolute;
    top: 65px;
    left: 25px;
    border: 1px solid #000;
    width: 450px;
    height: 600px;
    background-image: url(Sin\ título.png);
    background-repeat: no-repeat;
    background-size:cover;
}

#contador {
    position: absolute;
    margin: 0;
    text-align: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    font-size: 70px;
    font-weight: 900;
    top: 310px;
    left:calc(50% - 45px)
}


.btnvisible {
    text-align: center;
    font-size: 30px;
    background-color: #000;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 140px);
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 40px;
}

.btnvisible:hover {
    background-color: #fff;
    color: #000;
}

.btnnovisible {
    width: 0;
    height: 0;
    overflow: hidden;
}

.cgvisible {
    text-align: center;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 150px);
    color: #fff;
    text-shadow: 2px 2px #000, -2px -2px #000;
    transition: background-color 0.2s;
}

.cgnovisible {
    width: 0;
    height: 0;
    overflow: hidden;
}